<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lato:wght@100;300&display=swap" rel="stylesheet">
    

    <title>FamilyExpenseTracker</title>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#home">FamilyExpenseTracker</a>
            <span class="pages">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact Us</a>
            </span>
            <div class="button-navbar">
            <a href="/signup" class="signup"> Sign Up</a>
            <a href="/login" class="login"> Login</a>
            </div>
           
        </div>
    </nav>
    <div id="home" class="homepage">
        <h1>Welcome to Family Expense Tracker</h1>
        <div class="signupbutton">
            <form action="/signup">
                <button id="signup"> Sign Up</button>
            </form>
        </div>
    <hr>
</div>
    <br>
    <div id="about">
        <h2>About Us</h2>
        <div class="flex-container">
            <div> Keep a Track Personal Expenses</div>
            <div> <div> Add Family Members</div></div>
            <div> <div> Get a Graphical Representation of Expenses</div></div>
            <div> Add, Edit and Remove Expenses at Hand</div>      
        </div>
    </div>
    <br>
    <div id="contact">
        <h2>Contact Us</h2>
        <div class="flex-container">
            <div> <b>Email:</b> 

               <p>vanshitajain1204@gmail.com
                info@familyexpense.com
                info@expensetracker.com
            </p> 
            </div>
            <div class="phonenum"><p class="first"><b>Phone Number:</b> </p>
                <p > +91 2435627153 </p>    
                    <p>+91 4534263545</p>
                    <p>+91 5296707958</p>

            </div>
            <div><p class="address"><b>Address:</b></p>      
            <p>Delhi, India</p>
        </div>
    </div>

    <br>
  
</body>
</html>
