<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Lato:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
    
</body>
</html>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">FamilyExpenseTracker</a>
            <a href="/" class="active">Home</a>
        </div>
    </nav>
<form method="POST">
<div class="formContainer">
<h1>Login</h1>
<hr>
<div><label for="Username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name" required></div>
<div><label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required></div>

<label>
<input type="checkbox" checked="checked" name="remember"> Remember me
</label>

<div>
<h6 style="font-family: zillaslab,palatino,Palatino Linotype,serif; color:red;padding: 0px;">{{error}}</h6>

<button type="submit" class="signup">Login</button>
<a href="/signup" class="login">New to FamilyExpenseTracker? SignUp</a>

</div>
</div>

</form>
</body>
</html>